
.cardMedia {
	padding-top: 56.25%; /* 16:9 */
}

.link {
	margin: 1rem 1.5rem;
}

.cardHeader {
	background-color: #d3d3d3; /* light grey */
}

.testTitle {
	font-size: 16px;
	text-align: left;
}

.testText {
	display: flex;
	justify-content: left;
	align-items: baseline;
	font-size: 12px;
	text-align: left;
	margin-bottom: 2rem;
}
